#container {
    padding-top: 50px;
}

.toolbox {
    padding-top: 20px;
}

#content {
    min-height: 400px;
}
#datatable thead a {
    display: block;
}

#form-filters {
    clear: both;
}
#form-perpage {
    display: inline;
}
/*#messages {
    padding-top: 20px;
}*/